
.autocompl{
	position:relative;
	font-size:1.4em;
	text-align:center;
}

#Search_Result{
	font-size: large;
	font-weight: bold;
	text-align: center;
}
#Search_Result a{
	color:#337AB7;
}
#list_film_autoc {
	font-size: 1.4em;
	width: 100%;
}
form{
	margin-top:20px;
	text-align: center;
}
.more{
	position:relative;
	margin-left:65%;
	top:50px;
	font-size:25px;
}
.panel-info>.panel-heading{
	font-size: x-large;
}

.sub_folder_list{
	float: right;
	width: 50%;
}
.list-main-film{
	float: left;
	width: 100%;
}
@media only screen and (max-width: 767px) {
	#sx_film{
	width: 98%;
	height: 100%;
	margin-left: 2px;

	}
	#dx_film{
	width: 98%;
	height: 100%;
	margin-left: 2px;
	margin-right: 0px;
	}
}
