h1{
	margin:auto;
	color:royalblue;
	margin-top:20px;
}
h2{
	text-align:center;
}
body{

	background-image:url("/css/images/bgironman.jpg");
	height: 100%;
	font-family: Verdana, Geneva,sans-serif;
	background-attachment: fixed;
	background-position: right -562px top;
	background-repeat: no-repeat;
}
#main{
	max-width: 1000px;
	height: 100%;
	margin:auto;

}


#torrent:hover{
	cursor:pointer;
	background-color:cornflowerblue;
}
#service_status:hover{
	opacity:1;
	cursor:pointer;
	background-color:#ADD8E6;
}
#quick_tips:hover{
	opacity:1;
	cursor:pointer;
	background-color:#FAFF66;
}
#foto:hover{
	opacity:1;
	cursor:pointer;
	background-color:#54F010;
}
#musica:hover{
	opacity:1;
	cursor:pointer;
	background-color:#F01015;
}

#CT{
	font-weight:bold;
}
iframe{
	width: 100%;
	height: 650px;
	border:1px solid black;

}

.ele_musica{
	border:1px solid black;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	height: 100%;
	margin-top:10px;
	overflow:hidden;
	padding-right:15px;
	padding-left:15px;
}
#info_server_sx{ 
	float:left;
	height: 100%;
	width:50%;
}
#info_server_dx{ 
	float:right;
	height: 100%;
	width:50%;
}

#NP_iframe{
	height:150px;
	font-size:120%;
}
@media only screen and (max-width: 767px) {
	
	.square{
		padding:0px;
	}
	#info_server_dx {
		height: 100%;
		width: 95%;
	}

}
