h1{
	margin:auto;
	color:royalblue;
	margin-top:20px;
}
h2{
	text-align:center;
}
body{

	background-image:url("images/bgironman.jpg");
	height: 100%;
	font-family: Verdana, Geneva,sans-serif;
	background-attachment: fixed;
	background-position: right -562px top;
	background-repeat: no-repeat;
}
#main{
	max-width: 1000px;
	height: 100%;
	margin:auto;

}


#torrent:hover{
	cursor:pointer;
	background-color:cornflowerblue;
}
#service_status:hover{
	opacity:1;
	cursor:pointer;
	background-color:#ADD8E6;
}
#quick_tips:hover{
	opacity:1;
	cursor:pointer;
	background-color:#FAFF66;
}
#foto:hover{
	opacity:1;
	cursor:pointer;
	background-color:#54F010;
}
#musica:hover{
	opacity:1;
	cursor:pointer;
	background-color:#F01015;
}

#CT{
	font-weight:bold;
}
iframe{
	width: 100%;
	height: 650px;
	border:1px solid black;

}

.ele_musica{
	border:1px solid black;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	height: 100%;
	margin-top:10px;
	overflow:hidden;
	padding-right:15px;
	padding-left:15px;
}
#info_server_sx{ 
	float:left;
	height: 100%;
	width:50%;
}
#info_server_dx{ 
	float:right;
	height: 100%;
	width:50%;
}

#NP_iframe{
	height:150px;
	font-size:120%;
}

.serverInfo{
	padding-top:50px;
	height:450px;
}


.login_title{
	text-align:center;
}
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.settings{
	float:right;
}

@media only screen and (max-width: 767px) {
	
	.square{
		padding:0px;
	}
	#info_server_dx {
		height: 100%;
		width: 95%;
	}

}
